name: Fedora 43

env:
  FEDORA: 43

on:
  workflow_dispatch:

jobs:
  build:
    name: Build Kernel
    runs-on: ubuntu-latest
    steps:
      - name: Maximize disk space
        uses: easimon/maximize-build-space@master
        with:
          root-reserve-mb: 5120
          remove-dotnet: true
          remove-android: true
          remove-docker-images: true

      - name: Checkout code
        uses: actions/checkout@v4

      - name: Initialize containers
        run: |
          bash ./.github/scripts/container/create.sh \
            registry.fedoraproject.org/fedora:${{ env.FEDORA }}

      - name: Install build dependencies
        run: |
          bash ./.github/scripts/container/exec.sh \
            -- \
            bash ./.github/scripts/package/fedora.sh setup-builddeps

      - name: Build packages
        run: |
          bash ./.github/scripts/container/exec.sh \
            -- \
            bash ./.github/scripts/package/fedora.sh build-packages

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: fedora-${{ env.FEDORA }}-latest
          path: pkg/fedora/kernel-surface/out/x86_64